<!Doctype>
<html ng-app="myApp">
<head>
	<title></title>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="scripts/myApp.js"></script>
	<script src="scripts/Contacts.js"></script>
</head>
<body>
	<h1>Hi</h1>
	<div ng-controller="ContactController">
		First Name : <input type="text" ng-model="firstName"/>
		Last Name : <input type="text" ng-model="lastName"/>
		<input type="button" value="Get Full Name" ng-click="getFullName()"/>
		<br/>
		Angular Expression example Full Name : {{firstName}} {{lastName}}
		<br/>
		ng-Bind Example : <span ng-bind="firstName"></span>
		<br/>
		Button click handle Full Name From Controller = {{fullName}}
	</div>

</body>
</html>